<!DOCTYPE html>

<head>
    <title>RSS Reader</title>
    <link rel="shortcut icon" type="image/png" href="https://www.pngkey.com/png/full/452-4526299_subscribe-via-rss-icon.png">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="rss\static\style.css" />

</head>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/"><h2>RSS Reader</h2></a>
        </li>
        {% if not sort_enable %}
        <li class="align-middle">
            <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="inputPassword2" class="sr-only">Password</label>
                    <input type="text" class="form-control mt-2" placeholder="zadajte link" name="url">
                </div>
                <button type="submit" class="btn btn-primary mr-2">Načítať RSS</button>
            </form>
        </li>
        {%endif%}
        {% if sort_enable %}
        <li class="align-middle">
            <a href="{% url 'ascending' %}">
                <button type="submit" class="btn btn-primary mx-2 mt-2">
                    Najstaršie
                </button>
            </a> 
        </li>
        <li class="align-middle">
            <a href="{% url 'descending' %}">
                <button type="submit" class="btn btn-primary mx-2 mt-2">
                    Najnovšie
                </button>
            </a> 
        </li>
        {%endif%}
    </ul>
</nav>

<body>
    {% block body %}{% endblock %}
</body>

</html>