{% extends 'rss/base.html' %}

{% block body %}
    <br />
    {% if feed %}    
        <p class="h2">{{ feed.feed.title }}</p>
        <br />
        {% if feed.entries %}
            <div id="accordion">
            {% for entry in feed.entries %}
                <div class="card">
                    <div class="card-header" data-toggle="collapse" href="#{{entry.hash}}">
                        <h5 class="card-title">{{ entry.title }}</h5>
                        <p class="card-text">{{ entry.published }}</p>
                    </div>
                    <div class="row card-body collapse" id="{{entry.hash}}" data-parent="#accordion">
                        <div class="col-sm-6">
                            <p class="card-text">Popis: {{ entry.summary }}</p>
                            <a href="{{ entry.link }}" class="btn btn-primary">Visit Link</a>
                        </div>
                        <img class="col-sm-6" src="{{ entry.enclosures.0.href }}" >
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endif %}

        {% else %}
        <p>Enter your favorite RSS feed above.</p>
    
    {% endif %}

    {{ feed2 }}

{% endblock %}