{% extends 'rss/base.html' %}
{% load static %}

{% block body %}
    <br />
    {% if feed %}    
        <p class="h2 ml-4">{{ feed.feed.title }}</p>
        <br />
        {% if feed.entries %}
            <div class="accordion md-accordion" id="feed-accordion" role="tablist" aria-multiselectable="true">
            {% for entry in feed.entries %}
                <div class="card">
                    <div class="card-header" role="tab"  id="h{{entry.hash}}">
                        <a data-toggle="collapse" data-parent="#feed-accordion" href="#{{entry.hash}}" aria-expanded="true" aria-controls="{{entry.hash}}">
                            <h4 class="mb-0">
                                {{ entry.title }} <i class="fas fa-angle-down rotate-icon"></i>
                            </h4>
                          </a>
                        <p class="card-text ml-3">{{ entry.published }}</p>
                    </div>
                    <div id="{{entry.hash}}" class="collapse" role="tabpanel"  aria-labelledby="h{{entry.hash}}" data-parent="#feed-accordion">
                        <div class="row card-body">
                            <div class="col-sm-6">
                                <p class="card-text">Popis: {{ entry.summary }}</p>
                                <a href="{{ entry.link }}" target="_blank" class="btn btn-primary">Prejsť na článok</a>
                            </div>
                            <img class="col-sm-6" src="{{ entry.enclosures.0.href }}" alt="article image">
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endif %}

        {% else %}
        <p class="ml-4">Zadajte svoj obľúbený informačný kanál RSS.</p>
    
    {% endif %}

    <!-- {{ feed2 }} -->

{% endblock %}